<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Vaccination</title>
</head>

<body>
    <div class="img-uno">
        <header class="nav contenido-nav">
            <div class="nav-header">
                <div class="nav-title">
                    Vaccionation
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="#" target="_blank">Database</a>
                <a href="#" target="_blank">Education</a>
                <a href="#" target="_blank">News</a>
                <a href="#" target="_blank">Regulation</a>
                <a href="#" target="_blank">Hoax Buster</a>
            </div>
        </header>
        <div class="titulo">
            <h1>
                Fight Virus<br>With Vaccines
            </h1>
        </div>
        <div class="texto-simple">
            <p>
                Let's stop this pandemic by killing the virus<br>with a vaccine, don't let yourself and your<br>family
                get
                infected.
            </p>
        </div>
        <div class="texto-simple-negritas">
            <div>
                Best protection

                Selected Vacciones
            </div>
        </div>
        <div class="texto-simple-mediano-negritas">
            <p>
                Schedule your Vaccionations
            </p>
        </div>
        <div class="contenedor">
            <div class="contenido">
                <div class="contenido-texto-gris">
                    Location
                </div>
                <div class="contenido-texto-negritas">
                    Jakarta Utara
                </div>
            </div>
            <div class="contenido">
                <div class="contenido-texto-gris">
                    Date
                </div>
                <div class="contenido-texto-negritas">
                    08 July 2021
                </div>
            </div>
            <div class="contenido">
                <div class="contenido-texto-gris">
                    Vaccine Type
                </div>
                <div class="contenido-texto-negritas">
                    Moderna
                </div>
            </div>
            <div class="contenido">
                <button class="btn-submit">
                    Submit
                </button>
            </div>


        </div>
        <br>
    </div>
    <div class="img-dos">

    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="titulo-mediano">
            <h1>
                Why should I vaccine?
            </h1>
        </div>
        <div class="texto-simple">
            <p>
                In order to avoid any doubts about getting the COVID-19
                <br>
                vaccine, identify the following 4 benefits of COVID-19
                <br>
                Vaccination :
            </p>
            <br>
        </div>
    </div>

    <div class="contenedor-simple">
        <div class="contenido-completo">
            <div class="texto-negritas-small">
                Minimize the
                <br>
                spread of viruses
            </div>
            <div class="texto-simple-small">
                Vaccine has been proven
                <br>
                effective to prevent someone
                <br>
                from getting infected with
                <br>
                Coronavirus.
            </div>
        </div>

        <div class="contenido-completo">
            <div class="texto-negritas-small">
                Forming
                <br>
                antibodies
            </div>
            <div class="texto-simple-small">
                COVID-19 vaccine proven to
                <br>
                help shape antibody
                <br>
                response from immune system.
            </div>
        </div>

        <div class="contenido-completo">
            <div class="texto-negritas-small">
                Protecting
                <br>
                people nearby
            </div>
            <div class="texto-simple-small">
                The benefits of COVID-19
                <br>
                vaccination are the vaccine
                <br>
                that we get can also help
                <br>
                protect people around us.
            </div>
        </div>

        <div class="contenido-completo">
            <div class="texto-negritas-small">
                Creating group
                <br>
                immunity
            </div>
            <div class="texto-simple-small">
                COVID-19 vaccination is also
                <br>
                beneficial for creating group
                <br>
                immunity or herd immunity.
            </div>
        </div>
    </div>


    <div class="img-tres">
        <div>
            <div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="titulo-mediano-derecha">
                    <h1>
                        Preparations Before Vaccine
                    </h1>
                </div>
                <div class="texto-simple-derecha">
                    <p>
                        The success of vaccines is strongly influenced by the
                        <br>
                        strength of the body's immune system. Therefare, there are
                        <br>
                        several things that can be tried to make the COVID-19
                        <br>
                        vaccine work:
                    </p>
                    <br>
                </div>
            </div>
            <div>
                <div class="contenido-small">
                    <div class="texto-contenido-small-negritas">
                        Avoid alcoholic beverages
                    </div>
                </div>
                <div class="contenido-small-detalles">
                    <div class="texto-contenido-small-negritas">
                        Avoid stress
                    </div>
                    <div class="texto-contenido-small-simple">
                        Stress has a profound effect on immune work.
                        <br>
                        Moreover, prolonged stress can increase cortisol
                        <br>
                        production and oxidative stress in the body.
                    </div>
                </div>
                <div class="contenido-small">
                    <div class="texto-contenido-small-negritas">
                        Eat healthy food
                    </div>
                </div>
                <div class="contenido-small">
                    <div class="texto-contenido-small-negritas">
                        Get enough sleep
                    </div>
                </div>
                <div class="contenido-small">
                    <div class="texto-contenido-small-negritas">
                        Exercise or physical activity
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="img-cuatro">

        <div>
            <br>
            <br>
            <br>
            <div class="titulo-mediano">
                <h1>
                    Emergency Contact
                </h1>
            </div>
            <div class="texto-simple">
                <p>
                    Contact one of the contacts below if you or your family feel
                    <br>
                    unwell and have similar symptoms such as COVID-19, make
                    <br>
                    sure you also take care of yourself before reporting to us:
                </p>
                <br>
            </div>
        </div>


        <div class="contenedor-contact">
            <div class="contenido-contact">
                <div class="contenido-texto-negritas">
                    Call
                </div>
                <div class="texto-contenido-small-simple">
                    021.123.145.14
                </div>
                <button class="btn-chat">
                    Call Now
                </button>
            </div>
            <div class="contenido-contact">
                <div class="contenido-texto-negritas">
                    Chat
                </div>
                <div class="texto-contenido-small-simple">
                    021.123.145.14
                </div>
                <button class="btn-chat">
                    Chat Now
                </button>
            </div>
        </div>

        <br>

        <div class="contenedor-contact">
            <div class="contenido-contact">
                <div class="contenido-texto-negritas">
                    Video Call
                </div>
                <div class="texto-contenido-small-simple">
                    021.123.145.14
                </div>
                <button class="btn-chat">
                    Video Call Now
                </button>
            </div>
            <div class="contenido-contact">
                <div class="contenido-texto-negritas">
                    Message
                </div>
                <div class="texto-contenido-small-simple">
                    021.123.145.14
                </div>
                <button class="btn-chat">
                    Message Now
                </button>
            </div>
        </div>
        <br>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>

    </div>
    <footer>
        <div class="columna-uno">
            <div class="footer-titulo">
                Vaccination
            </div>
            <div class="footer-texto">
                Our goal is to help the
                <br>
                world free from the 
                <br>
                ongoing pandemic
            </div>
        </div>
        <div class="columna-dos">
            <div class="footer-negritas">
                About
            </div>
            <div class="footer-texto">
                About Us
                <br>
                <br>
                Features
                <br>
                <br>
                News & Blog
            </div>
        </div>
        <div class="columna-tres">
            <div class="footer-negritas">
                Company
            </div>
            <div class="footer-texto">
                How We Work?
                <br>
                <br>
                Capital
                <br>
                <br>
                Security
            </div>
        </div>  
        <div class="columna-cuatro">
            <div class="footer-negritas">
                Support
            </div>
            <div class="footer-texto">
                FAQs
                <br>
                <br>
                Support Center
                <br>
                <br>
                Contact Us
            </div>
        </div> 
        <div class="columna-cinco">
            <div class="footer-texto">
                @2021 Vaccination. All rights reselved
            </div>
        </div> 
        <div class="columna-seis">
            <div class="footer-texto">
                Terms & Agreements
            </div>
        </div> 
        <div class="columna-siete">
            <div class="footer-texto">
                Privacy Policy
            </div>
        </div>      
    </footer>

</body>

</html>